body {
  background-color: #F5F7FB;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

/* start-screen */

.main-div {
  width: 100%;
  min-height: 100vh;
  background-image: url(./assets/bg.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-div .headline {
  font-family: Karla, serif;
  color: #293264;
  text-align: center;
  margin-bottom: 30px;
}

.main-div .start-button {
  position: relative;
  width: 200px;
  height: 50px;
  background-color: #4D5B9E;
  border-radius: 15px;
  border: none;
  padding: 10px;
  color: white;
  font-weight: 500;
  line-height: 20px;
}

.main-div .blob1 {
  width: 40%;
  overflow: hidden;
  position: absolute;
  right: -15%;
  top: -40%;
}

.main-div .blob2 {
  width: 40%;
  position: absolute;
  overflow: hidden;
  left: -7%;
  bottom: -15%;
}

/* quiz */

.main-div .question {
  color: #293264;
  font-weight: 700;
  font-family: 'Karla', sans-serif;
  line-height: 18px;
}

.main-div .answer-btn {
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  border: #293264 solid 0.8px;
  border-radius: 10px;
  color: #293264;
  padding: 10px;
  margin: 10px 10px 10px 0;
  min-width: 100px;
}

.container {
  border-bottom: #DBDEF0 solid 0.8px;
}

.main-div .check-button {
  width: 200px;
  height: 50px;
  background-color: #4D5B9E;
  border-radius: 15px;
  border: none;
  padding: 10px;
  color: white;
  font-weight: 500;
  line-height: 20px;
}

.score {
  color: #293264;
  font-weight: 700;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  line-height: 18px;
}

.score-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 45px;
}

.correct-answer {
  background-color: #94D7A2;
  color: #293264;
}